body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    padding: 1%;
    background-color: #4e5965;
    color: white;
    text-align: left;
}

header h1 {
    font-size: 40px;
}


#branding {
    position: relative;
    left: 5px;
    width: 50%;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

span {
    color: red;
}

.current {
    color: red;
}

nav {
    position: relative;
    margin-left: 85%;
    bottom: 70px;
}

nav a {
    color: white;
    font-size: 30px;
}

ul li {
    width: 100px;
    float: left;
}

#showcase {
    background-image: url("../img/gigi-logo.png");
    width: 100%;
    padding-top: 15%;
    padding-bottom: 5%;
    filter:grayscale(100%);
    text-align: center;
}

#showcase h1 {
    font-size: 40px;
}
#showcase p, h1 {
    color: white;
}

#newsletter {
    background-color: #4e5965;
}

#newsletter button {
    background-color: orangered;
    border: none;
    color: white;
    height: 25px;
    width: 80px;
}

#newsletter input {
    height: 20px;
    width: 200px;
}

#newsletter h1 {
    width: 50%;
    position: relative;
    top: 20px;
    left: 80px;
}

#newsletter form {
    position: relative;
    bottom: 20px;
    margin-left: 70%;
}

footer {
    background-color: orangered;
    padding: 0.5%;
    text-align: center;
}

footer p {
    color: white;
}

#boxes img {
    width: 200px;
    height: 200px;
}

#boxes .box{
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
    width: 30%;
    text-align: center;
}


